@import './utils/reset';
@import './utils/animation';
@import './utils/breakpoints';
@import './utils/touch';
@import './utils/variables';
@import './utils/functions';

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	color: colors(white);
	margin-top: 60px;
	-moz-osx-font-smoothing: grayscale;
	z-index: z(webgl);
	// transform: rotate(const(angle));
	transition: all 1s ease(ease_in-cubic);
	@include below(bpw(desktop-md)) {
		// background-color: red;
	}
	@include hover-and-touch() {
		transform: rotate(0deg);
	}
}
